[Unit]
Description=KUMA service
After=network.target

[Service]
Type=idle
User=astraadmin
ExecStart=/opt/rvision/kuma/kuma-service-master/venv/bin/python3 /opt/rvision/kuma/kuma-service-master/service.py
EnvironmentFile=/opt/rvision/kuma/kuma-service-master/kuma.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
